.ResetPassword .card{
    
    border-radius: 10px;
    
}

.ResetPassword .card .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ResetPassword .card .profile .img {
    width: 150px;
    height: 150px;
    background-color: gray;  
}
.ResetPassword .card .profile .img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ResetPassword .Head{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #007fff;
    align-items: center;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.ResetPassword .Details .col-lg-6,.col-lg-12{
    margin-top: 20px;

}
.ResetPassword .Details .saveButton{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}