.facebook{
    background-color:#4C69BA ;
    padding: 10px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: #fff;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;

}