.getFollowers .card {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

}
.getFollowers .card:hover {
  cursor: pointer;
  
  }
.getFollowers .card .img{
    background-color: hotpink;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;

}

.getFollowers .card .img img{ 
    background-color: hotpink;
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.ProfilePageAbout .heading{
  color: #007fff;
  font-weight: bold;

}

.ProfilePageAbout .Profile {
  display: flex;
  align-items: center;
}

.ProfilePageAbout .Profile .img {
  margin-right: 50px;
}



.ProfilePageAbout .Profile .img img {
width: 100px;
height: 100px;
border-radius: 10px;


}